.sectionExpertise {
	.expertise {
		position: relative;
		font-size: 20px;
		letter-spacing: 0.5px;
		bottom: 150px;
	}
	.boxExpertiseElements {
		margin-bottom: 20px;
		display: flex;
		justify-content: center;
		gap: 30px;
	}
	.boxExpertiseCard {
		position: relative;
		padding: 50px;
		margin-bottom: 100px;
		text-align: center;
		background-color: $grey;
		border-radius: 20px;
		line-height: 2;
		box-shadow: 4px 1px 3px 5px $brown;
	}
	.authorExpertiseText {
		color: $brown;
	}
	.logoExpertiseText {
		color: $blue;
		margin-bottom: 15px;
	}
	.boxExpertisePicture {
		z-index: 1;
	}
	.expertisePicture {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		background-color: $white;
		object-fit: cover;
		border-radius: 50%;
		width: 150px;
		height: 150px;
	}
	.rateExpertise {
		padding: 0 10px;
		position: absolute;
		left: 55%;
		background-color: $white;
		border-radius: 10px;
	}
	.boxExpertiseButton {
		text-align: center;
		margin-bottom: 100px;
	}
	.btnExpertiseCard {
		font-size: 30px;
		padding: 10px;
		margin-left: 15px;
		color: $blue;
		border: 1px solid $blue;
		border-radius: 10px;
	}
}

@media (max-width: 950px) {
	.boxExpertiseElements {
		flex-direction: column;
	}
}
