// colors 
$white: #fff;
$blue: #0484c9;
$bodyBg: #f2eaeaef;
$shadowScript: #00000080;
$dark: #000;
$brown: #515151;
$grey: #dcd8d8b1;
$grey2: #7c7c7c;
$green: #73ff00;
$blueShadow: #020d3049;
$popupHeading: #05050565;
$closeButton: #67222282;
$offerLink:#404040;
$pink: #cd60cd;


// fonts
$smallSize: 10px;
$normalSize: 18px;
$mediumSize: 25px;
$XXLSize: 55px;
$sizeSection: 50px;
$navLinkSize: 24px;
$heroText: 35px;